/* Style sheet */

body {
    background-image: url("backg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

@media only screen and (max-width: 300px){
    body {
        background-image: url("backgmobile.webp");
    }
}