/* Style sheet */

nav {
    /* TODO change bg color */
    background-color: white;
    
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



body {
    /* height: 100%; */
    background-image: url("backg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: rgb(2, 18, 86);
    color: white;
    
    
}

@media only screen and (max-width: 300px){
    body {
        background-image: url("backgmobile.webp");
    }
    footer {
        
    }
}